Django
Pillow
django-crispy-forms
crispy-tailwind
django-allauth
python-dotenv
django-environ
psycopg2-binary

dj-database-url
gunicorn
whitenoise
crispy-bootstrap5
django-bootstrap5
cloudinary
django-cloudinary-storage
django-db-geventpool
psycogreen
setuptools
wheel
